﻿<div class="col-md-12">
    <form class="form-horizontal" method="post">
        <div class="form-group">
            <div class="col-md-3">
                <label class="control-label lead">Add task: </label>
            </div>
            <div class="col-md-5">
                <input class="form-control" type="text"
                       name="task" placeholder="Task Notes..." />
            </div>
            <div class="col-md-2">
                <select name="priority" class="form-control">
                    <option value="1">Low</option>
                    <option value="2">Medium</option>
                    <option value="3">High</option>
                    <option value="4">Critical</option>
                </select>
            </div>
            <div class="col-md-2">
                <button class="btn btn-success control-label" type="submit">Go</button>
            </div>
        </div>
    </form>
</div>
