﻿@model Todo.WebUI.Models.TaskModel
@using Todo.WebUI.Models
@{    
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Layout.cshtml";
    TaskModel task = Model;
}

<div class="row">
    <div class="col-md-6">
        <div class="col-md-12">
            <h2 class="text-info">Edit form</h2>
            <form method="post" action="/Task/SaveChanges">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-1">
                            <input type="hidden" name="id" value="@task.Id" />
                            <label class="lead">Title:</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" name="title" value="@task.Title" placeholder="New Task..." />
                        </div>
                        <div class="col-md-2">
                            <select name="priority" class="form-control">
                                @foreach(var p in task.PriorityList)
                                {
                                    <option value="@p.Value">@p.Text</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" name="isDone" checked="@task.IsDone" value="true" />
                            <input name="isDone" type="hidden" value="false" />                            
                            <label>Is Done</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 pull-right">
                            <button class="btn btn-success" type="submit">Save</button>
                            <a class="btn btn-danger" href="/Task/Index">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        @Html.ValidationSummary()
    </div> 
</div>