﻿<div class="form-group">
    <select id="selecter" class="form-control">
        <option value="">All</option>
        <option value="true">Done</option>
        <option value="false">Undone</option>
    </select>
</div>

<div class="form-group">
    <select id="priority" class="form-control">
        <option value="">All</option>
        <option value="1">Low</option>
        <option value="2">Medium</option>
        <option value="3">High</option>
        <option value="4">Critical</option>
    </select>
</div>