﻿@using Todo.Entities
@model List<TaskEntity>

@foreach (var e in Model)
{
        <div class="col-md-12 text-center">
            <div class="col-md-1">
                <div class="lead">@e.Id</div>
            </div>
            <div class="col-md-5">
                <div class="lead text-justify"><a data-anchor-id="@e.Id" class="anchor" href="/Task/Edit?id=@e.Id">@e.Title</a></div>
            </div>
            <div class="col-md-2">
                <input type="checkbox" checked="@e.IsDone" data-task-id="@e.Id" class="cbx" />
            </div>
            <div class="col-md-2">
                <div class="lead">@e.Priority</div>
            </div>
            <div class="col-md-2">
                <form method="post" action="/Task/Delete">
                    <input type="hidden" name="taskId" value="@e.Id" />
                    <button type="submit" class="btn btn-danger">X</button>
                </form>
            </div>
        </div>
}
