﻿@using Todo.Entities
@section scripts 
{
    <script src="~/Scripts/pages/TaskPage.js"></script>
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
    List<TaskEntity> tasks = ViewBag.tasks;
}

<div class="row">
    <div class="col-md-6">
        <form method="post" action="/Security/Logout" class="form pull-right">
            <input class="btn btn-default" type="submit" value="Logout"/>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 class="text-center text-primary">To Do Tasks</h2>
        @Html.Partial("FilterTaskPartial")
        @Html.Partial("AddTaskPartial")
        <div class="col-md-12 text-center text-danger lead">
            <div class="col-md-1">Id</div>
            <div class="col-md-5">Title</div>
            <div class="col-md-2">
                <a class="sort text-danger">Status</a>
            </div>
            <div class="col-md-2">
                <a class="priority text-danger" 
                   data-toggle="tooltip" 
                   title="Sort list by priority descending">Priority</a>
            </div>
            <div class="col-md-2">Delete</div>
        </div>
        <div id="tasks">
            @Html.Partial("FilteredListPartial", tasks)           
        </div>
        <div class="col-md-5 text-danger lead">@Html.ValidationSummary()</div>
    </div>
</div>