﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/lib/jquery/jquery-2.1.4.min.js"></script>
    <link href="~/Styles/bootstrap/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("scripts", false)    
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>