﻿@using Todo.WebUI.Models
@model LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Layout.cshtml";
    LoginModel loginModel = Model;
}
<div class="col-md-11">
<div class="text-info text-center lead">Login admin@loc, Password 12345678</div>
    <form class="form-horizontal" method="post" action="/Security/Login">
      <div class="form-group">
        @Html.LabelFor(e => e.Name, new { @class = "control-label col-sm-2" })
        <div class="col-sm-10">
            @Html.TextBoxFor(n => n.Name, new { @class = "form-control", placeholder = "Enter email" })          
        </div>
      </div>
      <div class="form-group">    
            @Html.LabelFor(p => p.Password, new { @class = "control-label col-sm-2" })
        <div class="col-sm-10">
            @Html.PasswordFor(p => p.Password, new { @class = "form-control", placeholder="Enter password" })
        </div>
      </div>
      <div class="form-group"> 
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
          </div>
        </div>
      </div>
      <div class="form-group"> 
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Log In</button>
          <a href="#" class="btn btn-info">Registration</a>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="text-danger lead">@Html.ValidationSummary()</div>
        </div>
      </div>
</form>
</div>